body{
	background:#FDFBF8;
	box-sizing: border-box;
	margin:0;

}
.header {
    height: 1080px;
    width:auto;
    border-bottom-right-radius: 62px;
    border-bottom-left-radius: 62px;
    padding-right: 150px;  
    padding-bottom: 100px;
    padding-left: 150px;   
    background: #C4C4C4;
}

.top-panel {
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right:150px;
}

.top-panel div {
    display: flex;
    align-items: center;
}
/* Hide menu icon by default (for desktop) */
.hamburgermenu {
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.logo {
    width: 144px;
    height: 36px;
}

.logo, .textButton, .iconButton {
    margin-left: 20px; 
    margin-right: 20px; 
}

.textButton button {
    font-family: Playfair Display;
    font-weight: 400;
    font-size: 20px;
    line-height: 133%;
    letter-spacing: 5%;
    border: none;
    outline: none;
    background: #C4C4C4;
    color: #07484A;
    transition: all 0.3s ease-in-out; 
    margin-right:20px;
}

.textButton button:hover {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px; 
}

.iconButton button {
    border: none;
    outline: none;
    background: #C4C4C4;
    display: inline-block;
    margin-right:58px;
}

.mainBox {
    width: 668px;
    height: 392px;
    margin: 245px 0; 
}

.mainHeader {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #07484A;
    margin-bottom:54px;
}

.headerComment {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #07484A;
    margin-bottom:54px;
}

.mainShop {
    width: 230px;
    height: 80px;
    gap: 4px;
    border-radius: 10px;
    padding: 20px;
    background: #70908B;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FDFBF8;
    border: none;
}

.categoryContainer {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding-right: 150px;  
    padding-left: 150px; 
    margin-bottom: 100px;
}

.leftSideBar{
	width: 349px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.buttonList{
	display:flex;
	justify-content:space-between;
	align-items: flex-start;
	width:100%;
}
.imgTurner{
	width: auto;
	height:583px;
	margin-left: 150px;
	margin-bottom:7px;
}
.listTurner{
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-left:-30px;
}
.turnUp, .turnDown{
	border-radius: 50%;   
	width:40px;
	height:40px;
	margin-left: 150px;
	border:none;
	margin-bottom:24px;
}
.turnUp{
	background: #E0EFF6;
}
.turnDown{
	background: #F9D9DA;

}
.searchbar{

	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 32px;
	gap: 18px;

	width: 300px;
	height: 75px;

	border:none;
	border-radius:10px;

	background: #F0F0F0 url('images/Search.png') no-repeat left center;
    background-size: 20px 20px; 
    background-origin: content-box;

	flex: none;
	order: 0;
	flex-grow: 0;

	font-family: Roboto;
	font-weight: 400;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: 0%;

	text-indent: 40px; 

	margin-bottom:80px;
}

.categoryButton button{
	font-family: Roboto;
	font-weight: 400;
	font-size: 24px;
	line-height: 100%;
	letter-spacing: 0%;
	color: #07484A;
	border: none;
	background: #FDFBF8;
	width:175px;
	text-align: left;
}

.categoryButton button:hover {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px; 
}

.categoryButton{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    width:100%;
}

.allcategButton {
    position: relative;
    width: 265px;
    height: 89px;
    padding: 32px 20px;
    border-radius: 10px;
    background: #70908B;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease, padding-right 0.3s ease;
    margin-top:50px;
}

.allcategButton::after {
    content: '→';
    position: absolute;
    right: -20px; /* Initially position the arrow outside the button */
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
    transition: right 0.3s ease;
}

.allcategButton:hover {
    padding-right: 40px; /* Increase right padding to make space for the arrow */
}

.allcategButton:hover::after {
    right: 40px; /* Move the arrow inside the button */
}

.rightSideBar{
	display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    gap: 26px; 
    width: 1211px;
    margin-left:60px;
}

.container{
	width: 589.5px;
	height: 321px;

	background: #D9D9D9;
	border-radius: 10px;

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;

	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}
.container:hover {
    background: #ADADAD;
}

.container:hover .containerButton {
    display: inline-block; 
    opacity: 1; 
}

.containerButton{
	width: 150px;
	height: 53px;
	padding-top: 14px;
	padding-right: 20px;
	padding-bottom: 14px;
	padding-left: 20px;
	border-radius: 6px;

	background: #E0EFF6;

	font-family: Open Sans;
	font-weight: 400;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0%;

	color: #07484A;
	border:none;

	display: none; 
	opacity: 0; 
    transition: opacity 0.3s ease; 
}
.containerText{
	font-family: Playfair Display;
	font-weight: 400;
	font-size: 64px;
	line-height: 100%;
	letter-spacing: 0%;
	color: #FDFBF8;
}
#headercategory{
	 text-align: center;
	 padding-bottom: 100px;
	 padding-top:100px;
}
.popular {
    position: relative;
    background-image: url('images/blue.png');
    background-repeat: no-repeat;
    background-size: 926px 1098px; /* Set the exact size */
    background-position: -50% calc(50% + 50px);
    overflow: hidden; /* Prevents scrollbars */
    margin-bottom: 100px;
}

.popularContainer{
	margin-left: 150px;
	margin-right: 150px;

}
.popularList{
	display:flex;
	margin-left:46px;
}
.popularProduct{
	width: 430.75px;
	height: 585px;
	gap: 40px;
	padding-top: 60px;
	padding-right: 40px;
	padding-bottom: 60px;
	padding-left: 40px;
	border-radius: 16px;
	margin-left:32px;
	color: #70908B;
}
#greenProduct{
	background: #CAF3E5;
	
}
#blueProduct{
	background: #E0EFF6;
}
#purpleProduct{
	background: #EEEBFF;
}
#yellowProduct{
	background: #FFF4E7;
}
.productImg{
	width: 204px;
	height: 270px;
	display: block;
	max-width: 100%;
	margin: 60px auto;
}
.productBold{
	font-family: Open Sans;
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0%;
}
.productDesc{
	font-family: Open Sans;
	font-weight: 400;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0%;

}
.horizontTurnerImg{
	width: 1620px;
	angle: -0 deg;
	margin-bottom:20px;
}
.horizontalturner{
	margin-top:54px;
	display:flex;
	flex-direction: column;
	align-items:right;
	justify-content: flex-end;
}
.turnButtonContainer{
	display:flex;
	justify-content: flex-end;
	padding-right:40px;
}
#popularAllButton{
	 display: block; 
    margin: 54px auto 0; 
    text-align: center;
}
.packageContainer{
	display:flex;
	margin-bottom:100px;
}
.specificPackage{
	width: 822px;
	height: 766px;
	gap: 32px;
	margin-left:150px;
	margin-right: 100px;
}
#specialHorizontTurner{
	display:none;
}
.imageContainer{
	position:relative;
	margin-bottom:32px;
}
.imageContainer button{
	position:absolute;
	bottom:5px;
	right:-2px;
	border-radius:50%;
	border: none;  
	padding: 0; 
}
.imgZoom{
	border-radius:30%;
}
.ImgSpecPac{
	width: 822px;
	height: 556px;
	gap: 4px;
	border-radius: 16px;
	padding: 4px;

}
.firstLinePrd{
	display:flex;
	justify-content: space-between;
	align-items:center;
}
.productTitle, .priceProduct {
  margin: 0; /* Remove any default margins */
}
#mainpriceproduct{
	margin-top:21px;
}
.productTitle{
	font-family: Open Sans;
	font-weight: 400;
	font-size: 36px;
	line-height: 100%;
	letter-spacing: 0%;
	color: #07484A;
}
.AddToCart{
	width: 196px;
	height: 66px;
	padding-top: 16px;
	padding-right: 24px;
	padding-bottom: 16px;
	padding-left: 24px;
	border-radius: 10px;
	font-family: Open Sans;
	font-weight: 400;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0%;
    color: #FDFBF8;
    background: #70908B;
    border:none;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.fiveStars{
	display: flex;
    font-size: 40px; 
    color: #ccc; 
    cursor: pointer;
}
.star {
    margin: 0 5px;
    transition: color 0.3s ease;
}

.star:hover {
    color: #FFC107; 
}

.star.selected {
    color: #FFC107;
}
.priceProduct{
	font-family: Open Sans;
	font-weight: 700;
	font-size: 28px;
	line-height: 114.99999999999999%;
	letter-spacing: -2%;

}
.descriptionTitle{
	font-family: Open Sans;
	font-weight: 700;
	font-size: 24px;
	line-height: 114.99999999999999%;
	letter-spacing: -2%;
	color: #07484A;
}
.descriptionParagraph{
	font-family: Open Sans;
	font-weight: 400;
	font-size: 18px;
	line-height: 114.99999999999999%;
	letter-spacing: -2%;
	color: #07484A;
	overflow: hidden;
	transition: height 0.3s ease-in-out; 
}
.specproductList{
	width:697px;
}
.Seemore {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  width: 101px
  height: 21px;
  gap: 8px;
  border:none;
 background:#FDFBF8;
 font-family: Open Sans;
font-weight: 600;
font-size: 18px;
line-height: 114.99999999999999%;
letter-spacing: -2%;
}

#arrow {
  font-size: 16px;
}

.activePcgCnt{
	width: 697px;
	height: 183px;
	gap: 16px;
	display: 	flex;

}
.firstLinePrdActiv{
	display:flex;
	justify-content: 	space-between;
	width:393px;
}
.sidePrdDesc{
	display:flex;
	flex-direction:column;
}
.activePrdImgList{
	width: 288px;
	height: 183px;
	border-radius: 10px;

}
.activePcgCnt{
	margin-top:40px;
	margin-bottom: 32px;
}
#activeprdttitle{
	font-size: 22px;
}
#activeprdtprice{
	font-size: 22px;
}
.sidePrdDesc{
	background: #E0F6F1;
	border-radius: 10px;
	padding: 34.7px 20px;
}
#seeCloserbtn{
	 width: 30px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent; /* Remove background if needed */
  padding: 0; /* Ensures no extra padding */

}
#seeCloserbtn img{
	 width: 100%;
  height: 100%;
  object-fit: contain;

}
.buttonBtmLine{
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.seedetailsBtn{
	font-family: Open Sans;
	font-weight: 400;
	font-size: 16px;
	line-height: 114.99999999999999%;
	letter-spacing: -2%;
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-offset: 0%;
	text-decoration-thickness: 0%;
	border: none;
	background: #E0F6F1;
	color:#07484A;
}

.ordinarPcgCnt{
	display:flex;
	width: 625px;
	height: 149px;
	gap: 16px;
	margin-bottom:34px;
	background:#FDFBF8;
}
.imgordinarPcgCnt{
	width: 248px;
	height: 149px;
	border-radius: 10px;

}
#inactiveproductTitle, #inactivepriceProduct{
	font-size: 16px;

}
#inactivesidePrd{ 
	background:#FDFBF8;

}
#inactiveprdseemore{
	margin-top:-30px;
}
.inactiveprdTurner{
	display:flex;

}
#inactiveprdlist{
	height:183px;
}
.inactivelistprdcontainer{
	display:flex;
	flex-direction: column;
}
#Listturnerforinactive{
	margin-left:-125px;
	padding-top:30px;
}
.ownCreationContainer{
	display:flex;
	margin-top:150px;
	margin-bottom:150px;
	justify-content: center;
	align-items: center;
}
.greenleftSidebar{
	width: 400px;
	height: 503px;
	padding-right: 100px;
	padding-left: 150px;
	gap: 32px;
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
	background: #70908B;
	margin-right: 32px;
}
.owncreationHeader{
	font-family: Playfair Display;
	font-weight: 700;
	font-size: 48px;
	line-height: 121%;
	letter-spacing: 0%;
	color: #FDFBF8;
	padding-top:100px;
}
.owncreationParagraph{
	font-family: Open Sans;
	font-weight: 600;
	font-size: 24px;
	line-height: 96%;
	letter-spacing: 0%;
	color: #FDFBF8;
	padding-top:32px;
}
.creationmainbottomline{
	display:flex;
	align-items:center;
	gap:1px;
}
.creationmorebtn{
	font-family: Roboto;
	font-weight: 700;
	font-size: 18px;
	line-height: 96%;
	letter-spacing: 0%;
	color: #FDFBF8;
	background: #70908B;
	border:none;
}
#creationHorizontTurner{
	width: 100px;
  	height: 1px;
  	margin-left:42px;
  	margin-left:42px;
  	padding-top:20px;
}
#turnerleftbtn{
	margin-left:42px;
	margin-top:20px;
}
#turnerrighttbtn{
	margin-left: 24px;
	margin-top:20px;
}

.inactivecontainerCreation {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 507px;
    gap: 4px;
    border-radius: 16px;
    padding: 4px;
    box-shadow: 0px 4px 50px 0px #0000001A;
    margin-right: 26px;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.inactivecontainerCreation:hover {
    width: 382px;
    height: 537px;
}

.inactivecontainerCreation img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.inactivecontainerCreation:hover img {
    transform: scale(1.05);
}

.ExploreAllrooms {
    position: absolute;
    bottom: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: scale(0.9);
    width: 194px;
    height: 57px;
    border-radius: 6px;
    border: none;
    background: #FFFFFF;
}

.inactivecontainerCreation:hover .ExploreAllrooms {
    opacity: 1;
    transform: scale(1);
}

.benefits{
	background: #E0EFF6;

}
.benefitsHeader{
	font-family: Playfair Display;
	font-weight: 700;
	font-size: 64px;
	line-height: 100%;
	letter-spacing: 0%;
	color: #07484A;
	padding-top:100px;
	text-align: center;
	padding-bottom: 104px;
}
.benefittitle{
	font-family: Playfair Display;
	font-weight: 700;
	font-size: 36px;
	line-height: 100%;
	letter-spacing: 0%;
	color: #07484A;
	text-align: center;
}
.benefitparagraph{
	font-family: Open Sans;
	font-weight: 400;
	font-size: 24px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	color: #07484A;
}
.benefitItemcontainer{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap:232px;
	padding-bottom:100px;
	padding-left: 286px;
	padding-right: 286px;
}
.benefitImg{
	width: 108px;
	height: 108px;
	gap: 4px;
	border-radius: 24px;
	padding: 20px;
	display: block; 
    margin: 0 auto; 
    object-fit: cover;
}
.testimonials{
	margin-top: 100px;
	padding-left:150px;
	padding-right: 150px;
}
.testimonialsHeader{
	font-family: Playfair Display;
	font-weight: 700;
	font-size: 64px;
	line-height: 100%;
	letter-spacing: 0%;
	color: #07484A;
	text-align: center;
	padding-bottom:35px;
}
.testimonialsTitle{
	font-family: Roboto;
	font-weight: 400;
	font-size: 36px;
	line-height: 100%;
	letter-spacing: 0%;
	color: #07484A;
	text-align: center;
	padding-bottom:107px;
}
.testimonialsContainer{
	display:flex;
	justify-content: space-between;
	align-items: center;

}
.quoteContainer{
	display: flex;
	flex-direction: column;
	width: 964px;
	height: 301px;
	margin-left:97.5px;
	margin-right: 97.5px;
}
.quoteBtns{
	display: flex;
	flex-direction: column;
}
#quoteturnercontainer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 107px;
	margin-bottom: 100px;
}
.imgquoteContainer{
	position:relative;
	display:inline-block;
}
.quoteImg{
	width: 421px;
	height: 410px;
	gap: 4px;
	border-radius: 20px;
	padding: 4px;
	display:block;
}
.quotesign{
	position: absolute;
    top: -70px;
    left: -80px;
    width: 161px;
	height: 121px;

}
.quoteParagraph{
	font-family: Open Sans;
	font-weight: 400;
	font-size: 36px;
	line-height: 100%;
	letter-spacing: 0%;
	color: #07484A;
	margin-bottom: 65px;
}
.authorquote{
	font-family: Roboto;
	font-weight: 700;
	font-size: 24px;
	line-height: 100%;
	letter-spacing: 0%;
	color: #07484A;
	margin-bottom:-11px;
}
.positionauthorquote{
	font-family: Roboto;
	font-weight: 300;
	font-size: 24px;
	line-height: 100%;
	letter-spacing: 0%;
	color: #07484A;
}
#quoteturner{
	width:1300px;
}
.seeAllreviewBtn{
	font-family: Roboto;
	font-weight: 400;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0%;
	color: #07484A;
	background: #FDFBF8;
	border:none;
}
.newsletter{
	color: #07484A;
}
.newsletterContainer{
	background: #E0F6F1;
	margin-top:100px;
	display:flex;
	align-items: center;
}
.imgfornews{
	width: 960px;
	height: 600px;
	gap: 4px;
	padding: 4px;
}
.firstlinenews{
	font-family: Playfair Display;
	font-weight: 400;
	font-size: 64px;
	line-height: 100%;
	letter-spacing: 5%;
	margin-top: 83.5px;
	margin-bottom: -20px;
}
.secondlinenews{
	font-family: Playfair Display;
	font-weight: 700;
	font-size: 64px;
	line-height: 100%;
	letter-spacing: 5%;
	margin-bottom:15px;
}
.newsparagraph{
	font-family: Roboto;
	font-weight: 400;
	font-size: 24px;
	line-height: 100%;
	letter-spacing: 0%;
}
.emailnewsinput{
	width: 525px;
    height: 60px;
    padding: 16px 20px; 
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
	background-color: #E0F6F1;
    border: none; 
    outline: none;
    border-radius: 8px; 
    margin-bottom: 41px;

}
.subscribeNews{
	width: 250px;
	height: 68px;
	padding-top: 20px;
	padding-right: 24px;
	padding-bottom: 20px;
	padding-left: 24px;
	border-radius: 6px;
	background: #70908B;
	color: #FDFBF8;
	border:none;
	margin-bottom: 83.5px;
}
.emailnewsinput::placeholder {
    color: #C4C4C4; 
}
.newsrightContainer{
	display: flex;
	flex-direction: column;
	margin-left: 150px;
}
.logofooter{
	width: 137px;
	height: 36px;
}
.footerContainer{
	display:flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 100px;
	padding-bottom: 69px;
}
.columnfooter{
	display:flex;
	flex-direction: column;
	align-items: flex-start;
}
.pairofcolumnfooter{
	display:flex;
	justify-content: space-between;
	gap:200px;
}
.footer{
	padding-bottom: 32px;
	padding-left: 150px;
	padding-right: 150px;
	background: #F3F6F5;

}
.ColumnTitlefooter{
	font-family: Open Sans;
	font-weight: 700;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0%;
	color: #07484A;
}
.Btnfoooter{
	font-family: Open Sans;
	font-weight: 400;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0%;
	border:none;
	background: #F3F6F5;
	color:#07484A;
	margin-bottom: 10px;
}
.footerparagraph{
	font-family: Open Sans;
	font-weight: 400;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0%;
	color:#07484A;
}
.socialmediabtn img{
	
	width: 28px;
	height: 27px;

}
.socialmediabtn
{border:none;}
.socialmediabtns{
	gap:36px;
	margin-top: 22.5px;
	margin-bottom: 22px;
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
	html, body {
	    overflow-x: hidden; /* Prevent horizontal scrolling */
	    width: 100%;
	    max-width: 100%;
	}

	/*header section*/
	 .header{
	 	width:auto;
	 	padding-right: 16px;
	 	padding-left: 16px;
	 	height:738px;
	 }
	 .mainHeader{
	 	font-size: 36px;
	 	padding-top:120px;
	 }
	 .top-panel{
	 	width:auto;
	 	padding-left:16px;
	 }
	 .logo {
	    width: 104px;
	    height: 26px;
	}
    .textButton button{
        display: none; 
    }
    .iconButton button{
    	margin-right: 20px;
    	width:21px;
    	height:21px;
    }
    .hamburgermenu{
        display: block; 
    }
     .mainBox {
        max-width: 100%;
        text-align: center;
        margin-top: 50px;
    }
    .hamburgermenu{
    	width: 24px;
		height: 18px;
    }
    .headerComment{
    	font-size: 18px;
    }
    .mainShop{
    	margin-top:52px;
    	width:171px;
    	height:55px;
    	font-size: 18px;
    }

    /*category section*/
    #headercategory{
    	padding-top:80px;
    	font-size:28px;
    	margin-bottom: -36px;
    }
    .categoryContainer{
    	margin: 0px;
	    padding-right: 16px;  
	    padding-left: 16px; 
	    margin-bottom: 80px;
	    justify-content: center;
	    align-items: center;
	    flex-direction: column;
    }
    .searchbar{
    	width: 216px;
		height: 55px;
		padding-top: 10px;
		padding-right: 20px;
		padding-bottom: 10px;
		padding-left: 20px;
		gap: 18px;
		border-radius: 10px;

    }
    .searchformobile{
    	display: flex;
    	justify-content: space-between;
    }
    #searchhamburger{
    	width:36px;
    	height:28px;
    	padding-top:27px;
    	padding-left: 36px;
    }
    .buttonList{
    	display:none;
    }
    .allcategButton{
    	display:none;
    }
    .rightSideBar{
    	display:flex;
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;
    	margin-left:860px;
    }
    .container{
    	width: 350px;
		height: 201px;
		padding-top: 36px;
		padding-bottom: 36px;
		gap: 24px;
		border-radius: 10px;
		font-family: Playfair Display;
		font-weight: 400;
		font-size: 20px;
		line-height: 52px;
		letter-spacing: 0%;
		text-align: center;
    }
    .containerText{
    	margin-top:-10px;
    }

    /*popular section*/
    .popularContainer{
    	margin-top:80px;
    	margin-left:16px;
    	margin-right: 16px;
    }
    .popularProduct{
    	width:237px;
    	height:340px;
		gap: 40px;
		border-radius: 16px;
		padding: 20px;
    }
    .turnButtonContainer{
    	display:none;
    }
    #popularAllButton{
    	width: 265px;
		height: 73px;
		padding-top: 24px;
		padding-right: 20px;
		padding-bottom: 24px;
		padding-left: 20px;
		gap: 18px;
		border-radius: 10px;
    }
    .popular {
	    background-size: 365px 434px; 
	    background-position: -350% calc(50% + 50px);
	    overflow: hidden; 
	    margin-bottom: 100px;
	}
	.productImg{
		width: 89px;
		height: 116px;
		margin: 40px auto;
	}
	.productBold{
		font-size: 18px;
		line-height: 23px;
		letter-spacing: 0%;
	}
	.productDesc{
		font-size: 16px;
		line-height: 23px;
		letter-spacing: 0%;
		width: 197px;
		height: 80px;
		margin-bottom:-30px;
	}

	/*special package section*/
	.firstLinePrd {
        order: 1;
    }
    .fiveStars {
        order: 2;
    }
    .priceProduct {
        order: 3;
    }
    .imageContainer {
        order: 4;
    }
    .activePrdImgList, .inactiveprdTurner, .sidePrdDesc, .Seemore, .imgspeczoom{
    	display: none;
    }
    .packageContainer{
    	flex-direction: column;
    	justify-content: center;
    }
    .specificPackage{
		margin-left:60px;
		margin-right: 16px;
	}
	.imageContainer, .ImgSpecPac{
		width: 330px;
		height: 280px;
		margin-left: -5px;
	}
	.productTitle{
		font-size: 24px;
		padding-bottom: 20px;
	}
	.fiveStars{
		width: 184px;
		height: 28px;
		padding-bottom: 21px;
	}
	.priceProduct{
		font-size: 28px;
		margin-bottom: 20px;
		color: #07484A;
	}
	.descriptionTitle{
		margin-top: -220px;
		margin-left: 60px;
		margin-right: 16px;
		margin-top: 30pxs;
	}
	.descriptionParagraph{
		margin-left: 60px;
		margin-right: 16px;
		width: 300px;
		margin-bottom: -200px;
	}
	.firstLinePrd{
		flex-direction: column;
		align-items: flex-start;
	}
	#specialHorizontTurner{
		display:block;
		width: 320px;
		border-color: black;
		border-width: 1px;
	}

	/*own creation section*/
	.greenleftSidebar{
		width: 195px;
		height:311px;
		padding-right: 16px;
		padding-left: 16px;
	}
	#creationHorizontTurner, #turnerleftbtn, #turnerrighttbtn{
		display:none;
	}
	.owncreationHeader{
		font-size: 28px;
		width: 163px;
		height: 84px;
		line-height:42px;
		margin-top: -80px;
		
	}
	.owncreationParagraph{
		font-size: 18px;
		font-weight: 400;
		margin-top:42px;
	}
	.creationmorebtn{
		margin-left: -5px;
		margin-top:32px;
	}
	.inactivecontainerCreation{
		width: 200px; 
	    min-width: 200px; 
	    max-width: 200px; 
		height: 300px;
	}
	.inactivecontainerCreation:hover {
	    height:340px;
	}
	.inactivecontainerCreation:hover img{
	    height:340px;
	}
	.ownCreationContainer{
		align-items: center;
		justify-content: flex-start;
	}
	.ExploreAllrooms{
		width: 150px;
		height: 57px;
		gap: 4px;
		border-radius: 6px;
		font-family: Roboto;
		font-weight: 400;
		font-size: 18px;
		line-height: 96%;
		letter-spacing: 0%;
		text-align: center;
	}

	/*benefits section*/
	.benefitsHeader{
		font-weight: 700;
		font-size: 28px;
		line-height: 42px;
		letter-spacing: 0%;
		width: 288px;
		height: 84px;
		margin-left:60px;
		margin-bottom:-200px;
	}
	.benefitItemcontainer{
		flex-direction: column;
		padding-left: 16px;
		padding-right: 16px;
		height: 1300px;
	}
	.benefitparagraph{
		padding-bottom: 60px;
		margin-bottom: -200px;
	}

	/*testimonials section*/
	.testimonialsHeader{
		font-size: 36px;
		margin-left: -20px;
	}
	.testimonialsTitle{
		font-weight: 400;
		font-size: 18px;
		line-height: 23px;
		letter-spacing: 0%;
		text-align: center;
		width:288px;
		margin-left: 40px;
	}
	.testimonials{
		padding-left:16px;
		padding-right: 16px;
		margin-left: 16px;
		margin-right: 16px;
		height:1000px;
	}
	.testimonialsContainer{
		flex-direction: column;
		width: 288px;
		height: 558px;
		gap: 51px;
		margin-left: 16px;
	}
	.quoteBtns{
		display: none;
	}
	.quoteContainer{
		width: 288px;
		gap: 24px;
	}
	#quoteturnercontainer{
		margin-top:120px;
		margin-left: 16px;
	}
	.imgquoteContainer, .quoteImg{
		width: 288px;
		height: 273px;
		border-radius: 20px;
	}
	.quotesign{
		width: 110px;
		height: 80px;
		top: -50px;
    	left: -30px;
	}
	.quoteParagraph{
		font-weight: 400;
		font-size: 18px;
		line-height: 23px;
		letter-spacing: 0%;
		margin-bottom: 0px;
	}

	/*newsletter section*/
	.newsletterContainer{
		flex-direction: column;
		justify-content: center;
	}
	.imgfornews{
		width: 100%;
		height: 288px;
		gap: 4px;
		padding: 4px;
	}
	.newsrightContainer{
		align-items: center;
		width:100%;
		margin-left: 16px;
	}
	.emailnewsinput{
		width: 288px;
		height: 55px;
		padding-top: 16px;
		padding-bottom: 16px;
		padding-left: 20px;
		border-bottom-width: 1px;
		border-bottom: 2px solid #000;
		border-radius: 0;
		text-align: center;
		font-size: 18px;
	}
	.newsparagraph{
		width:150px;
		text-align: center;
		margin-right: 16px;
		font-size: 18px;
		line-height: 23px;
	}
	.firstlinenews, .secondlinenews{
		font-size: 36px;
		padding-bottom: 10px;
	}

	/*footer section*/
	.footer{
		padding-left: 16px;
		padding-right: 16px;
	}
	.footerContainer{
		flex-direction: column;
	}
	.pairofcolumnfooter{
		display:flex;
		justify-content: space-between;
		gap: 45px;
	}
	.socialmediabtns{
		display: flex;
		justify-content: space-between;
		width:110%;
	}
}